/*edited by Muhammad  04/10/24*/
/*edited by Muhammad  06/10/24: responsive design for smaller screens upto 1490px */
/*edited by Muhammad  12/10/24: styled completed page and planned page as well as designed it for small screens */
/*edited by Muhammad  13/10/24: edited the completed courses rows design and adjust the buttons as well as the completed courses container for both large screens and small screens*/
.App {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.app .overlap-wrapper {
  height: 1117px;
  overflow-x: hidden;
  width: 1728px;
}

.app .overlap {
  height: 4387px;
  left: -31px;
  position: relative;
  width: 1759px;
}


.app .bodybg {
  background-color: #1090d54c;
  height: 4384px;
  left: 317px;
  position: absolute;
  top: 0;
  width: 1442px;
}

.app .side-bar {
  background-color: #000000;
  height: 20%;
  left: 10%;
  position: absolute;
  top: 0;
  width: 285px;
}

.app .header {
  background-color: #e6e6e6;
  height: 1442px;
  left: 971px;
  position: absolute;
  top: -654px;
  transform: rotate(90deg);
  width: 134px;
}

.app .footer {
  background-color: #e6e6e6;
  height: 1442px;
  left: 971px;
  position: absolute;
  top: 3599px;
  transform: rotate(90deg);
  width: 134px;
}

.app .step {
  height: 367px;
  left: 703px;
  position: absolute;
  top: 339px;
  width: 672px;
}

.app .select-degree {
  height: 26px;
  left: 184px;
  position: absolute;
  top: 222px;
  width: 302px;
}

.app .div-wrapper {
  background-color: #ffffff;
  border-radius: 2px;
  height: 26px;
  position: relative;
  width: 300px;
}

.app .text-wrapper-3 {
  color: #6d6d6d;
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 26px;
  left: 0;
  letter-spacing: -0.23px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 300px;
}

.app .select-major {
  height: 26px;
  left: 184px;
  position: absolute;
  top: 264px;
  width: 302px;
}

.app .hi-student-choose {
  color: #1e1e1e;
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.38px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 94px;
  width: 668px;
}

.app .text-wrapper-4 {
  color: #000000;
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 30px;
  font-weight: 700;
  left: 101px;
  letter-spacing: -0.57px;
  line-height: 34.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 466px;
}

.app .next-button {
  left: 270px !important;
  position: absolute !important;
  top: 341px !important;
}

.app .step-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 41px;
  left: 703px;
  position: absolute;
  top: 1189px;
  width: 668px;
}

.app .text-wrapper-5 {
  align-self: stretch;
  color: #000000;
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 30px;
  font-weight: 700;
  height: 45px;
  letter-spacing: -0.57px;
  line-height: 34.5px;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.app .p {
  color: #1e1e1e;
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.38px;
  line-height: 40px;
  position: relative;
  text-align: center;
  width: 668px;
}

.app .overlap-group-wrapper {
  height: 26px;
  position: relative;
  width: 302px;
}

.app .CONTINUE-GREY-instance {
  position: relative !important;
}

.app.step-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 51px;
  left: 703px;
  position: absolute;
  top: 2039px;
  width: 668px;
}

.app .text-wrapper-6 {
  align-self: stretch;
  color: #1e1e1e;
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.38px;
  line-height: 40px;
  position: relative;
  text-align: center;
}

.app .step-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 41px;
  left: 704px;
  position: absolute;
  top: 2889px;
  width: 668px;
}

.app .step-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 41px;
  left: 704px;
  position: absolute;
  top: 3739px;
  width: 668px;
}

.app .side-menu-instance {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

/*router wrapper*/
.main-content {
  margin-left: 10%;
  padding: 0rem;
  width: 100%;
}
/* General menu styling for large screens */
.menu {
  z-index: 1000; 
  top: 0;
  left: 0; 
  width: 10%;
  height: 100vh; 
  background-color: black;
  padding: 1rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: left 0.3s ease-in-out; /* Smooth sliding transition */
  font-family: Arial, "Helvetica", sans-serif;
}
/* Logo styling */
.menu-logo {
  width: 100%;
  max-width: 200px;
  margin-bottom: 1.5rem;
}

/* Menu List */
.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%; /* Ensure it takes full width of the menu */
}

/* Menu Items */
.menu-list li {
  margin-bottom: 1rem;
  background-color: rgba(16, 144, 213, 0.5); /* Dark background for items */
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover transition */
}

.menu-list li:hover {
  transform: perspective(1000px) translateZ(10px); 
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3), 0 15px 30px rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
}

.menu-list a {
  color: rgb(255, 255, 255); 
  text-decoration: none;
  display: block;
  padding: 0.75rem;
  transition: background-color 0.3s ease, transform 0.3s ease; 
  border-radius: 10px;
}

.menu-list a:hover {
  background-color: #003445; 
  transform: scale(1.05); 
  border-radius: 10px;
}
/*logout style*/
.logout li{
  margin-bottom: 1rem;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(139, 6, 6);
  margin-top: 110px;
  margin-right: 40px;
  list-style-type: none;
}
.logout li:hover {
  transform: perspective(1000px) translateZ(10px); 
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3), 0 15px 30px rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
}
.logout a {
  color: rgb(255, 255, 255); 
  text-decoration: none;
  display: block;
  padding: 0.75rem;
  transition: background-color 0.3s ease; 
}

.logout a:hover {
  background-color: #640202; 
  transform: scale(1.05); 
  border-radius: 10px;
}
/*  select Content Area */
.main-section {
  width: 60%;
  margin-left: 5%; 
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #add8e6; 
  height: 70vh; 
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1); 
  transform: perspective(1000px) translateZ(20px); 
  font-family: Arial, "Helvetica", sans-serif;
}


.main-section h1, .main-section h2, .main-section h3, .main-section p, .main-section span {
  font-family: Arial, "Helvetica", sans-serif;
}

.main-section h1 {
  font-size: 3.5rem;
  position: center;
}

.main-section h2 {
  font-size: 2rem;
}

.main-section h3 {
  font-size: 1.75rem;
}

.main-section p, .main-section span {
  font-size: 1rem;
  line-height: 1.5;
}
/* this is the Completed main css is as it needs to be adjusted for size 99% of it was copy and paste from above */
.completed-section {
  width: 75%;
  margin-left: 5%; 
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #add8e6; 
  height: 80vh; 
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1); 
  transform: perspective(1000px) translateZ(20px); 
  font-family: Arial, "Helvetica", sans-serif;
}

.completed-section h1, .main-section h2, .main-section h3, .main-section p, .main-section span {
  font-family: Arial, "Helvetica", sans-serif;
}

.completed-section h1 {
  font-size: 3.5rem;
  position: center;
}

.completed-section h2 {
  font-size: 2rem;
}

.completed-section h3 {
  font-size: 1.75rem;
}

.completed-section p, .completed-section span {
  font-size: 1rem;
  line-height: 1.5;
}
.selected-courses{
  display: flex;
  flex-wrap: wrap;
  gap: 0.1px;
  margin-top: 10px;
  justify-content: left;
}

/* Styling for the Selected Course Card */
.selected-course-item{
  color: #4a4a4a;
  border-radius: 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: default;
  transition: background-color 0.3s;
  position: relative;
}


/* Remove Button Styling */
.remove-btn{
  background-color: transparent;
  border: none;
  color: #555;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover Effect for Remove Button */
.remove-btn:hover{
  background-color: #ed8a8a;
  transition: color 0.3s;
}

/* Search Box at the Top Styling */
.MultiSearchBox{
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
    
}
.MuiInputBase-input, .MuiInputBase-root{
  background-color: #ffffff !important;
  border-radius: 50px !important;
}
.cm-ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  float: left;
  width: 100%;
   
}
.cm-ul li{
  flex: 1 1 100%; 
  display: flex;
  flex-direction: row;  
  border-radius: 5px;
  box-shadow: #000000;
}

.cm-g1{
  width: 70% ;
  border: 1px solid black;
  border-radius: 10px;
}

.selected-courses{
  margin-top: 10px;
}

/* Scrollable container with a max-height of 300px */
.scrollable{
  max-height: 300px;
  overflow-y: auto;
  padding-right: 15px;
}

.selected-course-item{
  background-color: rgba(224, 231, 255, 0.4);
  padding: 0px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.course-id{
  margin-right: 5px;
  font-weight: bold;
  color: #333;

}
/* Align course */
.course-row{
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.course-name{
  flex-grow: 1;
  font-weight: bold;
  color: #333;
}

/* Align units and remove button next to each other on the right */
.course-details{
  display: flex;
  text-align: right;
   
}

.course-units{
  font-weight: normal;
  color: #555;
  margin-right: 15px;
}

.remove-btn{
  background-color: transparent;
  border: none;
  color: #ff6b6b;
  font-size: 18px;
  cursor: pointer;
}

.remove-btn:hover{
  color: #ff3b3b;
}

/*generated planner page css starts here*/
.global{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 40vh;
  background-color: #ffffff93; /* Light background */
  box-sizing: border-box;
  font-family: Arial, "Helvetica", sans-serif;
    
}

/* Main content section */
.gen-section{
  width: 90%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 2rem; 
  box-sizing: border-box;
}

/* Page title */
.page-title{
  margin-bottom: 1%;
  font-size: 2rem;
  font-weight: bold;
  color: #002B5B; /* Dark blue color for header */
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, "Helvetica", sans-serif;
}

/* Year container */
.year-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  width: auto;
  font-family: Arial, "Helvetica", sans-serif;
  color: #000000;
}

/* Year title */
.year-title{
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #000000;
  text-align: center;
  border-bottom: 1px solid; 
  width: 100%;
  font-family: Arial, "Helvetica", sans-serif;
  margin-right: auto; 
}
.S1{
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #000000;
  text-align: left;
  border-bottom: 1px solid; 
  width: 100%;
  font-family: Arial, "Helvetica", sans-serif;
}


/* Semester container */
.semester-container{
  display: flex;
  height: 15rem;
}

/* Semester section styling to give each box a distinct look */
.semester-section{
  border-radius: 1rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Shadow to lift the box */
	margin-right: 1%;
  display: flex;
  flex-direction: left;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
  margin: 20px;
  width: 100%;
}
.semester-text{
	writing-mode: vertical-lr;
	text-orientation: upright;
	margin: 0;
	color: gray;
}

/* Drop area */
.drop-area{
  min-height: 200px;
  border: 1px solid #004961; 
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
	width: 100%;
}

/* Card wrapper */
.card-wrapper{
  flex: 1 1 calc(23% - 10px); /* 4 cards per row with spacing */
  margin: 1rem;
  background-color: #e0e0e086;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}

.card-wrapper:hover{
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Styling for the card content */
.card-container{
  flex: 1 1 calc(23% - 10px); 
  width: calc(100% / var(--courses-per-sem));
  position: relative;
  ;
}


.card-content{
  text-align: center;
  background-color: rgba(211, 211, 211, 0.596);
  height: 110px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}


.card-title{
  color: #0F82E4;
  font-weight: bold;
  font-family: Arial, "Helvetica", sans-serif;
}

.card-subtitle{
  color: var(--text-secondary-color, gray);
  font-size: 0.9rem !important;
  font-family: Arial, "Helvetica", sans-serif;
  transition: all 0.3s ease;
}

.essentials{
  opacity: 0; 
  background-color: rgba(211, 211, 211, 0.596);
  color: #7e8081;
  transition: opacity 0.3s ease; 
  font-size: 0.6rem !important;
  font-family: Arial, "Helvetica", sans-serif;
  
}
.card-container:hover .essentials{
  opacity: 1; 
  transform: perspective(1000px) translateZ(10px); 
  box-shadow: 0 25px 45px rgba(0, 102, 255, 0.3), 0 15px 30px rgba(0, 238, 255, 0.2); 
  background-color: rgba(211, 211, 211, 0.596);
  border-radius: 10px;
  font-weight: bold;
  color: #0F82E4;
}
.directed-course{
  font-size: 0.9rem !important;
  font-family: Arial, "Helvetica", sans-serif;
}

.small-title{
  font-size: 1.3rem !important;
  font-family: Arial, "Helvetica", sans-serif;
}

.underline-title{
  text-decoration: underline;
  font-weight: bold;
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 1.3rem !important;
}
/*pop over style for plan page*/
.css-j459o-MuiSvgIcon-root{
  padding-left: 88%;
}
.d-pop, .c-pop{
  background-color: rgb(211, 211, 211, 0.596) !important;
  outline: transparent;
}
.card-link{
  color: #0F82E4;
  text-decoration: underline;
  cursor: pointer;
}
.helpIcon{
	z-index: 2;
	position: fixed;
	bottom: 2%;
	right: 2%;
}
.CIcon{
	position: absolute;
  margin: 50px ;
	bottom: 0;
  
}
svg{
  transform: scale(0.9) !important;
}
.search-container{
  width: 100%;
  max-width: 600px; /* Set a max width if needed */
  margin: 20px 0;
  position: relative;
}
.popup{
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-30%, -50%); 
  padding: 20px; 
  background-color: #fff; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.popup-message{
  margin-bottom: 20px; 
  text-align: center; 
}

.popup-buttons{
  display: flex; 
  justify-content: center; 
  gap: 10px; 
}

/*Card styling*/
.cardPopover{
  background-color: rgba(211, 211, 211, 0.596);
  font-family: Arial, "Helvetica", sans-serif;
  padding-top: 1%;
  padding-bottom: 5%;
  padding-left: 3%;
  padding-right: 3%;
}

/* Responsive behavior for small screens like chrome book with the width of 1366px */
@media (max-width: 1490px){
  .completed-section{
    width: 75%;
    margin-left: 5%; 
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #add8e6; 
    height: 85vh; 
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1); 
    transform: perspective(1000px) translateZ(20px); 
    font-family: Arial, "Helvetica", sans-serif;
  }
  .CIcon{
    position: absolute;
    margin: 4% ;
    bottom: 0;
   
    
  }
  .cm-g1{
    width: 90%;
    border: 1px solid black;
  }
  /* Scrollable container with a max-height of 300px */
  .scrollable{
    max-height: 200px;
    overflow-y: auto;
    padding-right: 15px;
  }
    /*slect page starts here*/
  .main-section{
      width: 70%;
      margin-left: 10%; 
      margin-right: 10%;
      margin-top: 5%;
      margin-bottom: 5%;
      background-color: #add8e6; 
      height: 80vh; 
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1); 
      transform: perspective(1000px) translateZ(20px); 
      font-family: Arial, "Helvetica", sans-serif;
      text-align: center;
    }

    .main-section h1{
      font-size: 2.5rem;
    }
    .main-section h2{
      font-size: 1.5rem;
    }
  /*plan page starts here*/
  /* Semester container */
  .semester-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row; 
      gap: 1rem; 
      height: 100%;
      width: 100%;
  }

  /* Semester section styling */
  .semester-section{
      flex: 1 1 100%; 
      border-radius: 1rem;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
      margin-bottom: 2rem; 
      display: flex;
      flex-direction: row; 
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .year-container{
    margin-top: 50px;
  }
  /*pop over style*/
  .css-j459o-MuiSvgIcon-root{
    padding-left: 92% !important;
  
  
  }
  .d-pop, .c-pop{
    background-color: rgb(211, 211, 211, 0.596) !important;
    outline: transparent;
    
  }

}






